@CHARSET "ISO-8859-1";


	

@media (min-width: 768px) and (max-width: 979px) { 


	.rightside .btn 
{
z-index: 9999;
position: absolute;
right: 156px;
top: 53px;
}
.margintop{
	display: none;
}

}

@media (max-width: 767px) {  

.rightside .btn {
z-index: 9999;
position: absolute;
right: 8px;
top: 27px;
}
.margintop{
	display: none;
}
}


	
	
	
	
	
	
}